<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.14.2/d3.js"></script>

</head>

<body>
<script>
const margin = {top: 10, right: 30, bottom: 30, left: 60};
const height = 550;
const width = 550;

const clonable=document.createElement('svg');

	clonable.setAttribute('height', height)
	clonable.setAttribute('width' , width);

let svg =d3.select('body').append('svg')
	.attr('height', height)
	.attr('width' , width);

const renderTimeYLine = ( svg, data) => { 

const timeValues = data.map((d) => {return new Date(d['time']);});
const tempValues = data.map((d) => {return parseInt(d['temp']);});
const humidityValues = data.map((d) => {return parseInt(d['humidity']);});

const xScale = d3.scaleTime()
	.domain([d3.min(timeValues), d3.max(timeValues)]) 
	.range([10, width-50]);

const tempScale = d3.scaleLinear()
	.domain([d3.max(tempValues), 0])
	.range([10, height-50]);
	

const humidityScale = d3.scaleLinear()
	.domain([d3.max(humidityValues), 0])
	.range([10, height-50]);

const xAxis = d3.axisBottom()
	.scale(xScale);


const humidityAxis = d3.axisRight()
	.scale(humidityScale);

const tempAxis = d3.axisLeft()
	.scale(tempScale);
	
	
svg.append('g')
	.attr('transform', 'translate(520 00)')
	.call(humidityAxis);

svg.append('g')
	.attr('transform', 'translate(30 00)')
	.call(tempAxis);

svg.append('g')
	.attr('transform', 'translate(20 500)')
	.call(xAxis);

/*
svg
	.append('g')
	.attr('transform', 'translate(20 00)')
	.selectAll('circle')
	.data(data).enter()
	.append('circle')
	.attr('r', 2.5)
	.attr('fill', "red")
	.attr('cx', (d) => {return xScale(new Date(d['time']));})
	.attr('cy', (d) => {return humidityScale(d['humidity']);} );



svg
	.append('g')
	.attr('transform', 'translate(20 00)')
	.selectAll('circle')
	.data(data).enter()
	.append('circle')
	.attr('r', 2.5)
	.attr('class', "hoverable")
	.attr('cx', (d) => {return xScale(new Date(d['time']));})
	.attr('cy', (d) => {return tempScale(d['temp']);} );
	
*/


svg
	.append('g')
	.attr('transform', 'translate(20 00)')
	.append("path")
	.datum(data)
	.attr('fill', 'none')
	.attr('stroke', 'steelblue')
	.attr('stroke-width', 2)
	.attr('d', d3.line()
		.x(function(d) { return xScale(new Date(d['time']))})
		.y(function(d) { return humidityScale(d['humidity']);})
		)

svg
	.append('g')
	.attr('transform', 'translate(20 00)')
	.append("path")
	.datum(data)
	.attr('fill', 'none')
	.attr('stroke', 'red')
	.attr('stroke-width', 2)
	.attr('d', d3.line()
		.x(function(d) { return xScale(new Date(d['time']))})
		.y(function(d) { return tempScale(d['temp']);})
		)

	}


let sample =[]
const updateChart = () =>{
   setInterval( ()=> {

      const xhr = new XMLHttpRequest();
      xhr.open('GET', '/data');
      xhr.addEventListener('load', ()=>{
         if(xhr.status === 200){
           //let svg = document.getElementsByTagName('svg')[0];
           //console.log(svg);
           svg.remove();
            //svg =clonable.cloneNode(true);
            //document.body.appendChild(svg);
            svg = d3.select("body").append('svg')
               .attr('height', height)
               .attr('width', width);
            console.log(svg);
            sample = '[' + xhr.responseText +']';
            sample = JSON.parse(sample);
            renderTimeYLine(svg, sample);
        }

});
xhr.send();
   }, 5000 );
}

updateChart();
</script>

  <p>Hello, world!</p>

</body>

</html>
